PROJECT_HOST=apsilva-bed-data-platform.localhost
PROJECT_PORT=8000
APP_ENV=docker
LOG_LEVEL=info
SECRET_BACKEND=env
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=dev-root-token
VAULT_KV_MOUNT=secret
VAULT_SECRET_VALUE_KEY=value

# Databricks Jobs API
DATABRICKS_WORKSPACE_NAME=
DATABRICKS_WORKSPACE=
DATABRICKS_TOKEN=
DATABRICKS_TOKEN_SECRET_NAME=databricks_token
